

/*base css*/
*,body{
	padding: 0;
	margin: 0;
}
h2{
	font-weight: bold;
}
.row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}
ul{
	margin-bottom: 0px !important;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
/*base css*/

/*common css*/
.first_color{
	color: #56ab2f;
}
.second_color{
	color: #1e1d1d;
}
.first_bg_color{
	background-color: #56ab2f;
}
.second_bg_color{
	background-color: #1e1d1d;
}

.custom_left_margin{
	margin-left: 7%;
	margin-right: 0px !important
}
.custom_padding_2{
	padding-top: 100px;
	padding-bottom: 100px
}
.secondary-dark-blue-bg
{
	background-color: #fff;
}
/*common css*/

/*css for nav header*/
#top{
	height: 50px;
	width: 100%;
	line-height: 50px;
	z-index:22222;
	position: sticky;
	top: -60px;
}
.top_list{
	list-style: none;
}
.top_list li{
	padding-left: 10px;
}
.top_list li:first-child{
	padding-left: 0px !important;
}
.login_border{
	padding-left: 10px;
	color: #c7c7c7;
}
/*css for top header*/


/*css for nav header*/
.custom_nv_bg_col{
	background: rgba(254, 255, 255, .8);
}

.custom_error_bg_col{
	background: rgba(254, 255, 255, .8);
}
.navsection{
	
	position: sticky;
	top: 0;
	z-index: 1111;

}
.navbar{
	padding-left: 0px !important;
	z-index: 11111;
}
.nav-link{
	font-weight: bold !important;
}
.active .nav-link{
	color: #56ab2f !important;
}
.nav-link:focus{
	color: #56ab2f !important;
}
/*css for nav header*/

/*css for footer*/
.footer_bg{
	
	background-color: #1e1d1d;
}
.custom_padding_footer{
	padding-top: 75px;
}
.custom_padding_l{
	padding: 10px;
	padding-left: 50px;
}.custom_padding_t{
	padding-top: 10px;
}
.list{
	list-style: none;
	padding-top: 20px;
}
.footer_text{
	padding-top: 25px;
}
.footer .list li{
	color: white;
	padding-left: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.col-6{
	padding-left: 0px !important; 
}
.footer_bottom{
	padding: 0;
	margin: 0;
	border-top: 2px solid #56ab2f;
	/*line-height: 100px;*/
	background-color: #1e1d1d;
	padding-top: 10px;
}
.custom_list{
	padding-top: 0px !important;
	text-align: right !important;
}
.custom_list li {
	height: 35px !important;
	width: 35px !important;
	background-color: transparent;
	border: 1px solid #56ab2f;
	margin-left: 5px;
	border-radius: 50%;
}
.custom_list li a{
	text-align: center;
	padding-right: 0px;
	font-size: 12px;
	color: white;
}
.c_p{
	padding-right: 3px;
}
.custom_list li a:first-child{
	
	padding-right: 10px;
}
.custom_list li a:hover{
	color: #56ab2f;
}
/*css for footer*/

/*for responsiveness*/
@media only screen and (max-width: 797px) {
  .nav_res{
  	display: none;
  	color: transparent;
  }
}
/*for responsiveness*/